{{template "base" .}}


{{define "content"}}
<div class="container">
    <div class="row">
        <div class="col">            
            <h1 class="mt-3">About for Smythe</h1>
            <hr>
            <p>
                <img style="float: right; display: inline-block; max-width: 400px; padding: 5px;" src="/static/images/outside.png" alt="">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore fuga modi accusamus fugit natus numquam rem animi quibusdam sunt et error iste eum itaque, necessitatibus quos odio in pariatur repellat?
            </p>
            <p>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ducimus beatae obcaecati odit quo, quos possimus vero officia doloribus, voluptatibus quasi molestias dicta consequatur perferendis non totam corporis id amet illo!
            </p>
            <p>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ducimus beatae obcaecati odit quo, quos possimus vero officia doloribus, voluptatibus quasi molestias dicta consequatur perferendis non totam corporis id amet illo!
            </p>
        </div>
    </div>
</div>
{{end}}